
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Staj Mvc5 Kütüphane</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Course Register Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <!-- css files -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="~/webregister/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //css files -->

    <link rel="stylesheet" href="~/webregister/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->

</head>
<!-- body starts -->
<body>
    <!-- section -->
    <section class="register">
        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <div class="logo">
                        <a href="#"><span class="fa fa-graduation-cap" aria-hidden="true"></span></a>
                    </div>
                    <h1>Staj Mvc5 Kütüphane Projesi</h1>
                    <p>
                        Kütüphanemize Hoşgeldiniz, kayıt olmak için sağ tarafta bulunan paneldeki bilgileri doldurarak işleminizi sağlayabilirsiniz.
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="~/Login/GirisYap/">Giriş Yap</a></li>
                            <li><a class="read" href="~/Vitrin/Index/"> Siteye Dön</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <h2><span class="fa fa-pencil"></span>Kayıt Paneli</h2>
                    <div class="register-form">
                        <form action="#" method="post">
                            <div class="fields-grid">
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="FirstName" required="">
                                    <label>Adınız</label>
                                    <span></span>
                                </div>
                                <div class="styled-input agile-styled-input-top">
                                    <input type="text" name="LastName" required="">
                                    <label>Soyadınız</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="email" name="Mail" required="">
                                    <label>Mail Adresi</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="UserName" required="">
                                    <label>Kullanıcı Adı</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="password" name="Password" required="">
                                    <label>Şifre</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="Telephone" required="">
                                    <label>Telefonunuz</label>
                                    <span></span>
                                </div>
                                <div class="styled-input">
                                    <input type="text" name="School" required="">
                                    <label>Okulunuz</label>
                                    <span></span>
                                </div>

                                <div class="styled-input agile-styled-input-top">
                                    <select id="EducationStatuses.EducationStatusId" required="">
                                        <option value="">Öğrenim Durumunuzu Seçin*</option>
                                        <option value="">İlköğretim</option>
                                        <option value="">Ortaöğretim</option>
                                        <option value="">Lise</option>
                                        <option value="">Lisans</option>
                                        <option value="">Yüksek Lisans</option>
                                        <option value="">Doktora</option>
                                        <option value="">Yok</option>
                                    </select>
                                    <span></span>
                                </div>
                                <div class="clear"> </div>
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Şartları Okudum <a href="#">Kabul Ediyorum</a></label>
                            </div>
                            <input type="submit" value="Kayıt Ol">
                        </form>
                    </div>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <!-- copyright -->
        <p class="agile-copyright">© 2021 Tüm Hakları Saklıdır| Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
        <!-- //copyright -->
    </section>
    <!-- //section -->
</body>
<!-- //body ends -->
</html>
