@model LibraryProjectMvc.Models.Entity.Employees
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<body style="background-image:url(/web2/resimler/eTgd2o2.jpg);background-repeat:no-repeat;">
</body>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label style="color:white">Personel Adı</label>
        <br />
        <input type="text" class="form-inline" name="EmployeeName" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Personel Ekle</button>
    </div>
</form>

