@model LibraryProjectMvc.Models.Entity.Categories
@{
    ViewBag.Title = "KategoriEKle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<body style="background-image:url(/web2/resimler/xRtVfd_1400x700.jpg);background-repeat:no-repeat;"></body>


    <form class="form-group" method="post">
        <div></div>
        <div style="margin-top:15px">
            <label style="color:white"> &nbsp; Kategori Adı &nbsp;</label>
            <br />
            <input type="text" class="form-inline" name="CategoryName" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-primary" id="Btn1">Kategori Ekle</button>
        </div>
    </form>

