<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Staj Mvc5 Kütüphane</title>

    <!-- Bootstrap core CSS -->
    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/webpanel/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div style="background-color:black" class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="color:wheat">@HttpContext.Current.User.Identity.Name</div>
            <div class="list-group list-group-flush" >
                <a href="/UserPanel/Index/" class="list-group-item list-group-item-action" style="background-color:black ;color:wheat">Profilim</a>
                <a href="/UserPanel/MyBooks/" class="list-group-item list-group-item-action "style="background-color:black ;color:wheat">Kitaplarım</a>
                <a href="/Vitrin/Index/" class="list-group-item list-group-item-action"style="background-color:black ;color:wheat">Vitrin</a>
                <a href="/UserPanel/LogOut/" class="list-group-item list-group-item-action"style="background-color:black ;color:wheat">Çıkış Yap</a>


            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav style="background-color:black" class="navbar navbar-expand-lg border-bottom">
                <button class="btn btn-dark"  style="color:wheat" id="menu-toggle">Menü</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="btn" href="/Vitrin/Index/#about" style="color:wheat">Hakkımızda</a>
                        </li>
                        <li class="nav-item active">
                            <a class="btn" href="/Vitrin/Index/#contact " style="color:wheat">Yardım</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
               </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
