
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvalidAction</title>
</head>
<body>
    <div> 
        Kitap şuanda üyede yada bakımda olduğu için bu işlemi gerçekleştiremessiniz.
    </div>
</body>
</html>
